{% extends 'base.html.twig' %}

{% block title %}Balance index{% endblock %}

{% block body %}
    <h1>Balance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for balance in balances %}
            <tr>
                <td>{{ balance.id }}</td>
                <td>{{ balance.amount }}</td>
                <td>{{ balance.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_balance_show', {'id': balance.id}) }}">show</a>
                    <a href="{{ path('app_balance_edit', {'id': balance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_balance_new') }}">Create new</a>
{% endblock %}
