{% extends 'base_rework.html.twig' %}

{% block content %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header justify-content-between d-flex align-items-center">
                    <h4 class="card-title">Gestión de precio de aviso</h4>
                </div><!-- end card header -->
                <div class="card-body">            
                    {{ form_start(price_form, {'attr': {'class': 'row gx-3 gy-2 align-items-center'}}) }}
                    <!--<form class="row gx-3 gy-2 align-items-center">-->
                        {% if alert_message is not null %}
                            <p>{{alert_message}}</p>
                        {% endif %}

                        <p>Con este precio base usted podrá alertar a los clientes de cuanto le queda en su bolsa. Si el limite de sus bolsas es inferior a este precio, usted podrá enviar mensajes a ellos.</p>

                        <div class="col-sm-5">
                            {{ form_widget(price_form.price) }}
                            <!--
                            <label class="visually-hidden" for="specificSizeInputName">Name</label>
                            <input type="text" class="form-control" id="specificSizeInputName" placeholder="Enter Name">-->
                        </div>
                        <!--
                
                        <div class="col-sm-3">
                            <label class="visually-hidden" for="specificSizeInputGroupUsername">Username</label>
                            <div class="input-group">
                            <div class="input-group-text">@</div>
                            <input type="text" class="form-control" id="specificSizeInputGroupUsername" placeholder="Username">
                            </div>
                        <div class="col-auto">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                            <label class="form-check-label" for="autoSizingCheck2">
                                Remember me
                            </label>
                            </div>
                        </div>-->
                        <!-- end col -->
                        <div class="col-auto">
                            {{ form_widget(price_form.saveEdit, {'attr': {'class': 'btn btn-primary'}}) }}
                            
                            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                        </div>
                        <!-- end col -->
                    {{ form_end(price_form) }}
                </div><!-- end card body -->
            </div>
        </div>
    </div>

{% endblock %}
