{% extends 'base_rework.html.twig' %}

{% block content %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header justify-content-between d-flex align-items-center">
                            <h4 class="card-title">Gestión de precio de aviso</h4>
                        </div><!-- end card header -->
                        <div class="card-body">            
                            {{ form_start(price_form, {'attr': {'class': 'row gx-3 gy-2 align-items-center'}}) }}
                            <!--<form class="row gx-3 gy-2 align-items-center">-->
                                {% if alert_message is not null %}
                                    <p>{{alert_message}}</p>
                                {% endif %}
        
                                <p>Con este precio base usted podrá alertar a los clientes de cuanto le queda en su bolsa. Si el limite de sus bolsas es inferior a este precio, usted podrá enviar mensajes a ellos.</p>
        
                                <div class="col-sm-5">
                                    {{ form_widget(price_form.price) }}
                                    <!--
                                    <label class="visually-hidden" for="specificSizeInputName">Name</label>
                                    <input type="text" class="form-control" id="specificSizeInputName" placeholder="Enter Name">-->
                                </div>
                                <!--
                        
                                <div class="col-sm-3">
                                    <label class="visually-hidden" for="specificSizeInputGroupUsername">Username</label>
                                    <div class="input-group">
                                    <div class="input-group-text">@</div>
                                    <input type="text" class="form-control" id="specificSizeInputGroupUsername" placeholder="Username">
                                    </div>
                                <div class="col-auto">
                                    <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                                    <label class="form-check-label" for="autoSizingCheck2">
                                        Remember me
                                    </label>
                                    </div>
                                </div>-->
                                <!-- end col -->
                                <div class="col-auto">
                                    {{ form_widget(price_form.saveEdit, {'attr': {'class': 'btn btn-primary'}}) }}
                                    
                                    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                                </div>
                                <!-- end col -->
                            {{ form_end(price_form) }}
                        </div><!-- end card body -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header justify-content-between d-flex align-items-center">
                            <h4 class="card-title">Avisos a clientes</h4>
                        </div>
                        <div class="card-body">
                            <script defer>
                                $(document).ready(function () {
                                // Función común para ambos botones
                                function handleButtonClick(buttonId, url) {
                                    $(buttonId).prop("disabled", true);
                                    var count = 0;
                                    $.ajax({
                                    type: "POST",
                                    url: url,
                                    success: function (response) {
                                        count++;
                                        alert(response);
                                    },
                                    error: function (error) {
                                        alert("Error: " + error.responseText);
                                    },
                                    complete: function () {
                                        alert("Number of emails sent: " + count);
                                        $(buttonId).prop("disabled", false);
                                    },
                                    });
                                }
        
                                // Configuración de los clics para ambos botones
                                //Esto debería ir en otro lado.
                                $("#alertButton").click(function () {
                                    handleButtonClick("#alertButton", "/send/AlertEmail/Data");
                                });
        
                                $("#infoButton").click(function () {
                                    handleButtonClick("#infoButton", "/send/AllEmail/Data");
                                });
                                });
                            </script>
                            <div class="form-group">
                                <style>
                                    .btn-custom {
                                        width: 100%;
                                        height: 40px;
                                        margin-bottom: 10px;
                                    }
                                </style>
                                <button type="button" class="btn btn-danger btn-custom" id="alertButton">
                                    Alertar Saldo Bajo
                                </button>
                                <button type="button" class="btn btn-primary btn-custom" id="infoButton">
                                    Informar clientes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
