<div class="navbar">
    <div class="icon">
        <img src="{{ asset('images/Logo-Web-Radio-Paulina.jpeg') }}" alt="Logo Radio">
    </div>
    <div class="dropdown">
        <a href="{{ path('app_guideline_index') }}">Pauta</a>
        <div class="dropdown-content">
            <a href="{{ path('app_guideline_new') }}">Crear</a>
            <a href="{{ path('app_guideline_index') }}">Revisar</a>
        </div>
    </div>
        <div class="dropdown">
        <a href="{{ path('app_publicity_index') }}">Publicidad</a>
        <div class="dropdown-content">
            <a href="{{ path('app_publicity_new') }}">Crear</a>
            <a href="{{ path('app_publicity_index') }}">Revisar</a>
        </div>
    </div>
        <div class="dropdown">
        <a href="{{ path('app_audience_index') }}">Audiencia</a>
        <div class="dropdown-content">
            <a href="#">Estadistica</a>
        </div>

    </div>
        <div class="dropdown">
        <a href="#">Notificar</a>
        <div class="dropdown-content">
            <a href="{{ path('app_send_all_email_data') }}">Informaciones</a>
            <a href="{{ path('app_send_email_exito') }}">Saldo bajo</a>
        </div>
    </div>
    
    <div class="logout">
        <a href="{{ path('app_logout') }}">
            <img src="{{ asset('icons/icons8-salir-redondeado-50.png') }}" alt="Salir">
        </a>
    </div>

</div>

