{% block body %}
    {% for show in shows %}
        {% set publicities = show.nonDeletedPublicities %}
        <tr>
            <td>{{ show.id }}</td>
            <td>{{ show.name }}</td>
            <td>{{ show.start ? show.start|date('H:i:s') : 'No ha empezado'}}</td>
            <td>{{ show.finish ? show.finish|date('H:i:s') : 'No ha finalizado'}}</td>
            <td>{{ (show.guideline and show.guideline.deletedAt is null) ? show.guideline : "Sin pauta" }}</td>
            <td>
                <button type="button" class="btn btn-primary {{publicities|length > 0 ? 'enabled' : 'disabled'}}" data-bs-toggle="modal" data-bs-target="#showsAsociados-{{show.id}}">
                    Ver
                </button>
                <!-- Modal -->
                {% if publicities|length > 0 %}
                    <div class="modal fade" id="showsAsociados-{{show.id}}" tabindex="-1" role="dialog" aria-labelledby="showsAsociadosLabel{{show.id}}" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document" style="max-width: 80%;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="showsAsociadosLabel{{show.id}}">Publicidades asociadas al programa</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    </button>
                                </div>
        
                                <div class="modal-body">
                                    <table class="table table-striped table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Oración de la publicidad</th>
                                                <th scope="col">Fondo musical</th>
                                                <th scope="col">Duración (en segundos)</th>
                                                <th scope="col">Descripción de la publicidad</th>
                                                <th scope="col">Cliente</th>
                                                <th scope="col">Audiencia</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for publicity in publicities %}
                                                <tr>
                                                    <td>{{publicity.id}}</td>
                                                    <td>{{publicity.sentence}}</td>
                                                    <td>{{publicity.background}}</td>
                                                    <td>{{publicity.duration}}</td>
                                                    <td style="white-space: normal">{{publicity.description}}</td>
                                                    <td style="white-space: normal">{{publicity.customer ? publicity.customer : "SIN CLIENTE"}}</td>
                                                    <td>{{publicity.audience}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </td>
            <td class="text-center align-middle">
                <div class="btn-group align-top">
                    <button class="btn btn-sm btn-outline-secondary badge" type="button" data-bs-toggle="modal"
                        data-bs-target="#user-form-modal_{{ show.id }}">
                        Editar
                    </button>
                    <button class="btn btn-sm btn-outline-secondary badge trash-borrado" type="button" data-bs-toggle="modal" data-id="{{show.id}}" data-bs-target="#deleteConfirmationModal_{{show.id}}">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
            

        {% include 'delete_form.html.twig' with {
            'removeId': show.id,
            'deleteTitle': 'Eliminación de programa',
            'confirmMessage': '¿Está seguro de eliminar el programa: %s?'|format(show.name),
            'deletePath': 'app_show_delete'
        }%}
    {% endfor %}

    <!-- CARGAR FORMULARIOS PARA CADA UNO EN MODAL. -->
    {% for edit_form in allForms %}
        {% set id = edit_form.form.vars.value.id %}
        {% include 'modal_base_form.html.twig' with {
            'passedForm' : edit_form.form,
            'titleForm': 'Edición de programa',
            'actualId': id,
        }%}
    {% endfor %}
{% endblock %}
