{% extends 'base.html.twig' %}

{% block title %}Show{% endblock %}

{% block body %}
    <h1>Show</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ show.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ show.name }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ show.start ? show.start|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Finish</th>
                <td>{{ show.finish ? show.finish|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_show_index') }}">back to list</a>

    <a href="{{ path('app_show_edit', {'id': show.id}) }}">edit</a>

    {{ include('show/_delete_form.html.twig') }}
{% endblock %}
