{% extends 'base.html.twig' %}

{% block title %}Audience index{% endblock %}

{% block body %}
    <h1>Audience index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Demography</th>
                <th>Locality</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for audience in audiences %}
            <tr>
                <td>{{ audience.id }}</td>
                <td>{{ audience.demography }}</td>
                <td>{{ audience.locality }}</td>
                <td>{{ audience.type }}</td>
                <td>
                    <a href="{{ path('app_audience_show', {'id': audience.id}) }}">show</a>
                    <a href="{{ path('app_audience_edit', {'id': audience.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_audience_new') }}">Create new</a>
{% endblock %}
