{% extends 'base.html.twig' %}

{% block title %}Broadcaster index{% endblock %}

{% block body %}
    <h1>Broadcaster index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for broadcaster in broadcasters %}
            <tr>
                <td>{{ broadcaster.id }}</td>
                <td>{{ broadcaster.firstName }}</td>
                <td>{{ broadcaster.lastName }}</td>
                <td>{{ broadcaster.email }}</td>
                <td>{{ broadcaster.phone }}</td>
                <td>
                    <a href="{{ path('app_broadcaster_show', {'id': broadcaster.id}) }}">show</a>
                    <a href="{{ path('app_broadcaster_edit', {'id': broadcaster.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_broadcaster_new') }}">Create new</a>
{% endblock %}
