{% block header %}
    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item" data-bs-toggle="collapse" id="horimenu-btn" data-bs-target="#topnav-menu-content">
                    <i class="fa fa-fw fa-bars"></i>
                </button>

                <div class="topnav">
                    <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                        <div class="collapse navbar-collapse" id="topnav-menu-content">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link dropdown-toggle arrow-none" href="{{path('app_statistics')}}" id="topnav-dashboard" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-home-circle icon"></i>
                                        <span data-key="t-dashboard">Resumen</span>
                                    </a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-help-circle"></i>
                                    <span data-key="t-elements">Configuración</span> <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-pages">

                                    <a href="{{path('app_alert_price')}}" class="dropdown-item" data-key="t-precio">Precio de aviso</a>
                                    <a href="{{path('app_boleta')}}" class="dropdown-item" data-key="t-chat">Generación de DTE</a>
                                    <!--
                                    <a href="{{path('app_audience_index')}}" class="dropdown-item" data-key="t-filemanager">Audiencias</a>
                                    <a href="{{path('app_stock_index')}}" class="dropdown-item" data-key="t-stocks">Stocks</a>

                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-ecommerce"
                                            role="button">
                                            <span data-key="t-ecommerce">Recursos humanos</span> <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-ecommerce">
                                            <a href="{{path('app_customer_index')}}" class="dropdown-item" data-key="t-products">Clientes</a>
                                            <a href="{{path('app_broadcaster_index')}}" class="dropdown-item" data-key="t-product-detail">Locutores</a>
                                        </div>
                                    </div>-->
                                </div>
                        

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button">
                                        <i class="bx bx-edit-alt"></i>
                                        <span data-key="t-apps">Gestion</span> <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-pages">

                                        <a href="{{path('app_guideline_index')}}" class="dropdown-item" data-key="t-calendar">Pautas</a>
                                        <a href="{{path('app_show_index')}}" class="dropdown-item" data-key="t-chat">Programas</a>
                                        <a href="{{path('app_publicity_index')}}" class="dropdown-item" data-key="t-kanban">Publicidades</a>
                                        <a href="{{path('app_audience_index')}}" class="dropdown-item" data-key="t-filemanager">Audiencias</a>
                                        <a href="{{path('app_stock_index')}}" class="dropdown-item" data-key="t-stocks">Stocks</a>

                                        <div class="dropdown">
                                            <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-ecommerce"
                                                role="button">
                                                <span data-key="t-ecommerce">Recursos humanos</span> <div class="arrow-down"></div>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="topnav-ecommerce">
                                                <a href="{{path('app_customer_index')}}" class="dropdown-item" data-key="t-products">Clientes</a>
                                                <a href="{{path('app_broadcaster_index')}}" class="dropdown-item" data-key="t-product-detail">Locutores</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

            </div>

            <div class="d-flex">
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item noti-icon right-bar-toggle" id="right-bar-toggle">
                        <i class="bx bx-cog icon-sm"></i>
                    </button>
                </div>

                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item user text-start d-flex align-items-center" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user header-profile-icon"></i>
                        <span class="ms-2 d-none d-xl-inline-block user-item-desc">
                            <span class="user-name">{{app.user.email}}<i class="mdi mdi-chevron-down"></i></span>
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end pt-0">
                        <h6 class="dropdown-header">¡Bienvenido! {{app.user.email}}</h6>
                        <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="mdi mdi-logout text-muted font-size-16 align-middle me-1"></i> <span class="align-middle">Deslogearse</span></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="hori-overlay"></div>
{% endblock %}