{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header justify-content-between d-flex align-items-center">
                    <h4 class="card-title">{{handlerText}}</h4>
                </div><!-- end card header -->
                <div class="card-body">
         
                    <div class="row gx-3 gy-2 align-items-center">
                        {% if searchId is defined %}
                            <div class="col-sm-5">
                                <label for="inputName">{{searchText}}</label>
                                <input type="text" class="form-control" id="{{searchId}}" placeholder="">
                            </div>
                        {% endif %}   
                        <!-- end col -->
                        <div class="col-auto align-self-end mt-4">
                            <button type="button" class="btn btn-primary"  data-bs-toggle="modal"  data-bs-target="#user-form-modal_new">{{newElement}}</button>
                        </div>
                        <!-- end col -->
                    </div><!-- end form -->
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->

        <script defer type="text/javascript">
            $("#{{searchId}}").change(function (e) { 
                e.preventDefault();

                let search = $(this).val();

                $.ajax({
                    type: 'GET',
                    url: "{{searchPath}}",
                    data: {'target': search},
                    dataType: 'json',
                    success: function (response) {
                        //console.log(response);
                        $("#output_table").html(response);
                    }
                });
            });
        </script>
    </div>
{% endblock %}