{% block body %}
    {% for publicity in publicities %}
        <tr>
            <td class="text-nowrap align-middle">
                <span>{{publicity.id}}</span>
            </td>
            <td class="text-justify align-middle">
                <span>{{publicity.sentence}}</span>
            </td>
            <td class="text-justify align-middle">
                <span>{{publicity.duration}}</span>
            </td>
            <td class="text-nowrap align-middle">
                <span>{{publicity.background ? publicity.background : "SIN FONDO"}}</span>
            </td>
            <td class="align-middle">
                {% if publicity.description |length > 50 %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#publicidadesAsociados-Desc{{publicity.id}}">
                        Ver
                    </button>
                    <div class="modal fade" id="publicidadesAsociados-Desc{{publicity.id}}" tabindex="-1" role="dialog" aria-labelledby="publicidadesAsociadosLabel{{publicity.id}}" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document" style="max-width: 80%;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="publicidadesAsociadosLabel{{publicity.id}}">Descripción de la publicidad</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                
                                <div class="modal-body">
                                    <p class="text-justify">{{publicity.description}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <span class="text-justify">{{publicity.description}}</span>
                {% endif %}

            </td>
            <td class="text-nowrap align-middle">
                <span>{{publicity.Stock ? publicity.Stock : 'Sin stock.'}}</span>
            </td>
            <td class="text-nowrap align-middle">
                <span>{{publicity.customer}}</span>
            </td>
            <td class="text-nowrap align-middle">
                <span>{{publicity.audience}}</span>
            </td>
            <td class="text-nowrap align-middle">
                <span>{{publicity.Show}}</span>
            </td>
            <td class="text-nowrap align-middle">
                <span>{{publicity.guideline}}</span>
            </td>
            <td class="text-center align-middle">
                <div class="btn-group align-top">
                    <button class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal"
                        data-target="#user-form-modal_{{publicity.id }}">
                        Editar
                    </button>
                    <button class="btn btn-sm btn-outline-secondary badge trash-borrado" type="button" data-toggle="modal" data-id={{publicity.id}} data-target="#deleteConfirmationModal_{{publicity.id}}">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>

        {% include 'delete_form.html.twig' with {
            'removeId': publicity.id,
            'deleteTitle': 'Eliminación de programa',
            'confirmMessage': '¿Está seguro de eliminar la publicidad asociada a: %s?'|format(publicity.Show),
            'deletePath': 'app_publicity_delete'
        }%}
    {% endfor %}

    <!-- CARGAR FORMULARIOS PARA CADA UNO EN MODAL. -->
    {% for edit_form in allForms %}
        {% set id = edit_form.form.vars.value.id %}
        {% include 'modal_base_form.html.twig' with {
            'passedForm' : edit_form.form,
            'titleForm': 'Edición de programa',
            'actualId': id,
        }%}
    {% endfor %}
{% endblock %}
