{% block body %}
    <div class="modal fade" role="dialog" tabindex="-1" id="balance-form-modal_{{actualId|default('new')}}">
        <div class="modal-dialog modal-sx" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{titleForm|default('Creación de pauta')}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>

                <div class="modal-body">
                    <div class="py-1">
                        {{form_start(passedForm)}}

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    {{ form_label(passedForm.amount) }}
                                    {{ form_widget(passedForm.amount) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="form-check form-switch form-switch-md mb-2">
                                    {{ form_label(passedForm.active, null, {'attr': {'class': 'form-check-label'}}) }}
                                    {{ form_widget(passedForm.active, {'attr': {'class': 'form-check-input'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                {{ form_widget(passedForm.saveEdit) }}
                            </div>
                        </div>
                        {{ form_end(passedForm)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
