{% block body %} {% for guideline in guidelines %}
<tr>
  <td class="text-nowrap align-middle">
    <span>{{ guideline.id }}</span>
  </td>
  <td class="text-justify align-middle">
    <span>{{ guideline.showName }}</span>
  </td>
  <td class="text-nowrap align-middle">
    <span>{{ guideline.emissionNumber }}</span>
  </td>
  <td class="text-nowrap align-middle">
    <span
      >{{ guideline.creationDate ? guideline.creationDate|date('d-m-Y') : '' }}</span
    >
  </td>
  <td class="text-nowrap align-middle">
    <span
      >{{ (guideline.broadcaster and guideline.broadcaster.DeletedAt is null) ? guideline.broadcaster : 'Ninguno' }}</span
    >
  </td>
  <td class="text-nowrap align-middle">
    <button
      type="button"
      class="btn btn-primary {{guideline.nonDeletedShows|length > 0 ? 'enabled' : 'disabled'}}"
      data-toggle="modal"
      data-target="#showsAsociados-{{ guideline.id }}"
    >
      Ver
    </button>
    <!-- Modal -->
    {% if guideline.nonDeletedShows|length > 0 %}
    <div
      class="modal fade"
      id="showsAsociados-{{ guideline.id }}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="showsAsociadosLabel{{ guideline.id }}"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="showsAsociadosLabel{{ guideline.id }}">
              Programas asociados a la pauta
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre del show</th>
                  <th scope="col">Hora Inicio</th>
                  <th scope="col">Hora Final</th>
                  <!-- DEBERIA MANDAR A OTRA PAGINA-->
                  <!--<th scope="col">Editar</th>-->
                </tr>
              </thead>
              <!-- copypasting the font-weight-normal shit-->
              <tbody>
                {% for show in guideline.nonDeletedShows %}
                <tr>
                  <th class="font-weight-normal" scope="row">{{ show.id }}</th>
                  <th class="font-weight-normal">{{ show.name }}</th>
                  <th class="font-weight-normal">
                    {{show.start|date('H:i:s')}}
                  </th>
                  <th class="font-weight-normal">
                    {{show.finish|date('H:i:s')}}
                  </th>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </td>
  <td class="text-center align-middle">
    <div class="btn-group align-top">
      <button
        class="btn btn-sm btn-outline-secondary badge"
        type="button"
        data-toggle="modal"
        data-target="#user-form-modal_{{ guideline.id }}"
      >
        Editar
      </button>
      <button
        class="btn btn-sm btn-outline-secondary badge trash-borrado"
        type="button"
        data-toggle="modal"
        data-id="{{ guideline.id }}"
        data-target="#deleteConfirmationModal_{{ guideline.id }}"
      >
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </td>

  <td class="text-center align-middle">
    <button
      class="btn btn-sm btn-outline-secondary badge"
      type="button"
      onclick="sendGuidelineEmail('{{ guideline.emissionNumber | raw }}')"
    >
      Send Email
    </button>
  </td>
</tr>

{% include 'delete_form.html.twig' with { 'removeId': guideline.id,
'deleteTitle': 'Eliminación de pauta', 'confirmMessage': '¿Está seguro de
eliminar la pauta: %s?'|format(guideline.showName), 'deletePath':
'app_guideline_delete' }%} {% endfor %}

<!-- CARGAR FORMULARIOS PARA CADA UNO EN MODAL. -->
{% for edit_form in allForms %} {% set id = edit_form.form.vars.value.id %} {%
include 'modal_base_form.html.twig' with { 'passedForm' : edit_form.form,
'titleForm': 'Edición de pauta', 'actualId': id, }%} {% endfor %} {% endblock %}

<script>
  function sendGuidelineEmail(emissionNumber) {
    fetch("/send/GuidelineEmail/Data", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ buttonNumber: emissionNumber }),
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
      })
      .then((data) => console.log(data))
      .catch((error) => {
        console.error("Error:", error);
      });
  }
</script>
