{% extends 'base.html.twig' %}

{% block title %}Guideline{% endblock %}

{% block body %}
    <h1>Guideline</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guideline.id }}</td>
            </tr>
            <tr>
                <th>Show_name</th>
                <td>{{ guideline.showName }}</td>
            </tr>
            <tr>
                <th>Emission_number</th>
                <td>{{ guideline.emissionNumber }}</td>
            </tr>
            <tr>
                <th>Creation_date</th>
                <td>{{ guideline.creationDate ? guideline.creationDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_guideline_index') }}">back to list</a>

    <a href="{{ path('app_guideline_edit', {'id': guideline.id}) }}">edit</a>

    {{ include('guideline/_delete_form.html.twig') }}
{% endblock %}
