<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
      }

      #email-container {
        max-width: 600px;
        margin: 20px auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: #000000;
      }

      .header-strip {
        background-color: #87cfeb96;
        padding: 8px;
        border-radius: 8px 8px 0 0;
        margin-bottom: 20px;
      }

      h3 {
        color: #ffffff;
        font-size: 18px;
      }

      p {
        color: #000000;
        font-size: 16px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }

      th,
      td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      th {
        background-color: #87cfeb96;
        color: white;
      }

      tr:nth-child(odd) {
        background-color: #f5f5f5;
      }

      tr:last-child {
        border-bottom: none;
      }

      ol {
        list-style: none;
        counter-reset: item;
        padding-left: 0;
      }

      li {
        counter-increment: item;
        margin-bottom: 10px;
      }

      li:before {
        content: counter(item);
        margin-right: 1px;
        font-size: 14px;
        background-color: #7cbbd496;
        color: white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
      }

      .footer-strip {
        background-color: #87cfeb96;
        padding: 8px;
        border-radius: 0 0 8px 8px;
        margin-top: 20px;
      }

      h5 {
        color: #888;
        font-size: 12px;
      }

      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto 20px;
      }
    </style>
  </head>

  <body>
    <div id="email-container">
      <div class="header-strip">
        <h3>Hola {{ name }} de {{ organisation }}.</h3>
      </div>

      <table>
        <tr>
          <th>Información publicitaria</th>
          <th></th>
        </tr>

        <tr>
          <td>Frase</td>
          <td>{{ publicity.sentence }}</td>
        </tr>

        <tr>
          <td>Track</td>
          <td>{{ publicity.background }}</td>
        </tr>

        <tr>
          <td>Descripción</td>
          <td>{{ publicity.description }}</td>
        </tr>
      </table>

      <ol>
        <li>
          Hemos concretado las emisiones de tu aviso en un {{ percentageAmount
          }}%
        </li>
        <li>Restan ${{ amount }} en tu bolsa de saldo!!!</li>
      </ol>

      <p>
        Tu aviso está a punto de expirar. Por favor, ponte en contacto con
        nuestro equipo de ventas en
        <a href="mailto:ventas@radiopaulina.com">ventas@radiopaulina.com</a>
        para renovar tu contrato y así mantener el contacto con nuestros radio
        oyentes.
      </p>

      <p>
        Si tienes alguna pregunta o necesitas más detalles, nuestro equipo
        estará encantado de ayudarte. ¡Gracias por confiar en nosotros!
      </p>

      <div class="footer-strip">
        <h3>Saludos cordiales, tu equipo de RadioPaulina</h3>
      </div>

      <!--img src="../../public/images/logo.png" alt="logo" /-->
      <!--img src="{{ asset('public/images/logo.png') }}" alt="Logo Radio"-->

      <h5>
        Este es un mensaje automático. Por favor, ten en cuenta que no es
        necesario responder a este correo. Si tienes consultas o necesitas
        asistencia, por favor, comunícate con nuestro equipo a través de los
        canales de contacto proporcionados. ¡Gracias!
      </h5>
    </div>
  </body>
</html>