<!DOCTYPE html>
<html>

<h3>Hola {{ name }} de {{ organisation }},</h3>

<h3>Quería informarte que tu publicidad:</h3>
<h3>ID: {{ publicity.id }}</h3>
<h3>Track: {{ publicity.background }}</h3>
<h3>Frase: {{ publicity.sentence }}</h3>
<h3>Descripción: {{ publicity.description }}</h3>

<h3>(1) Hemos concretado las emisiones de tu avison en un {{ percentageAmount }}% <h3>
<h3>(2) Restan ${{ amount }} en tu bolsa de saldo!!!</h3>

<h3>Está a punto de expirar. Por favor, ponte en contacto con nuestro equipo de ventas en ventas@radiopaulina.com para renovar tu contrato y así mantener el contacto con nuestros radio oyentes.</h3>

<h3>Si tienes alguna pregunta o necesitas más detalles, nuestro equipo estará encantado de ayudarte. ¡Gracias por confiar en nosotros!</h3>

<h3>Saludos cordiales,</h3>
<h3>Tu equipo de RadioPaulina</h3>

<h5>Este es un mensaje automático. Por favor, ten en cuenta que no es necesario responder a este correo. Si tienes consultas o necesitas asistencia, por favor, comunícate con nuestro equipo a través de los canales de contacto proporcionados. ¡Gracias!</h5>

</html>