<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
      }

      #email-container {
        max-width: 600px;
        margin: 20px auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: #000000;
      }

      .header-strip {
        background-color: #87cfeb96;
        padding: 8px;
        border-radius: 8px 8px 0 0;
        margin-bottom: 20px;
      }

      h3 {
        color: #ffffff;
        font-size: 18px;
      }

      p {
        color: #000000;
        font-size: 16px;
      }

      .footer-strip {
        background-color: #87cfeb96;
        padding: 8px;
        border-radius: 0 0 8px 8px;
        margin-top: 20px;
      }

      h5 {
        color: #888;
        font-size: 12px;
      }

      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto 20px;
      }

      ol {
        list-style: none;
        counter-reset: item;
        padding-left: 0;
      }

      li {
        counter-increment: item;
        margin-bottom: 10px;
      }

      li:before {
        content: counter(item);
        margin-right: 1px;
        font-size: 14px;
        background-color: #7cbbd496;
        color: white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
      }
    </style>
  </head>

  <body>
    <div id="email-container">
      <div class="header-strip">
        <h3>Hola {{ name }} de {{ organisation }}.</h3>
      </div>

      <p>
        Esperamos que este mensaje te encuentre bien. Queríamos compartir
        contigo algunas novedades encantadoras sobre tu experiencia en
        RadioPaulina:
      </p>

      <ol>
        <li>
          Tu mensaje ha llegado a los oyentes {{ audience }} en toda la zona de
          {{ locality }}
        </li>
        <li>
          De un total de {{ totalEmisions }} emisiones, a la fecha se ha
          concretado el {{ percentageAmount }} % en nuestra programación.
        </li>
        <li>
          De un total ${{ amountStock }} adquiridos, tu bolsa de publicidad
          actualmente cuenta con ${{ amountBalance }}.
        </li>
      </ol>

      <p>
        ¡Todo está marchando a la perfección! Esta es solo una pequeña
        actualización para que estés al tanto de cómo va todo. Si tienes alguna
        pregunta, sugerencia o simplemente quieres charlar, nuestro equipo está
        aquí para ayudarte.
      </p>

      <div class="footer-strip">
        <h3>Saludos cordiales, tu equipo de RadioPaulina</h3>
      </div>

      <!--img src="{{ absolute_url(asset('public/images/logo.png')) }}" alt="logo" /-->

      <h5>
        Este es un mensaje automático. Por favor, ten en cuenta que no es
        necesario responder a este correo. Si tienes consultas o necesitas
        asistencia, por favor, comunícate con nuestro equipo a través de los
        canales de contacto proporcionados. ¡Gracias!
      </h5>
    </div>
  </body>
</html>
