<!DOCTYPE html>
<html>

<h3>Hola {{ name }} de {{ organisation }},</h3>

<h3>Esperamos que este mensaje te encuentre bien. Queríamos compartir contigo algunas novedades encantadoras sobre tu experiencia en RadioPaulina:</h3>

<h3>    Detalles de Publicidad: {{ publicity }}</h3>
<h3>    Detalles de Pago: {{ payment }}</h3>
<h3>    Detalles: {{ summary }}</h3>
<h3>    Notificaciones: {{ notification }}</h3>

<h3>¡Todo está marchando a la perfección! Esta es solo una pequeña actualización para que estés al tanto de cómo va todo. Si tienes alguna pregunta, sugerencia o simplemente quieres charlar, nuestro equipo está aquí para ayudarte.</h3>

<h3>Saludos cordiales,</h3>
<h3>Tu equipo de RadioPaulina</h3>

<h5>Este es un mensaje automático. Por favor, ten en cuenta que no es necesario responder a este correo. Si tienes consultas o necesitas asistencia, por favor, comunícate con nuestro equipo a través de los canales de contacto proporcionados. ¡Gracias!</h5>

</html>